@model IDocument

@{
  var excerpt = Model.GetString(Statiq.Html.HtmlKeys.Excerpt);
  var date = Model.GetDateTime(WebKeys.Updated, Model.GetDateTime("Created", Model.GetDateTime(WebKeys.Published)));
}

<div class="post-preview">
  <h2 class="post-title">@date.ToString("yyyy/MM/dd") @Html.DocumentLink(Model)</h2>
</div>
